* {
  box-sizing: border-box;
}

body {
  font-size: 22px;
  font-family: 'Climate Crisis', cursive;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
  color: #111;
  margin: 0;
  padding: 20px 40px;
  background: rgb(209,255,0);
  background: radial-gradient(circle, rgba(209,255,0,1) 1%, rgba(182,255,223,1) 49%, rgba(61,75,98,1) 99%);
 

  /* This will center anything on your page */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


#clock {
  font-size: 100px;
  width: 1000px;
  margin: 200px;
  font-family: 'Climate Crisis', cursive;
  text-align: center;
  border-radius: 20px;
}

#id{
  color: #111;
  align-content: center;
}